.img-small {
    max-width: 600px; 
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#keunggulan img {
    width: 150px; 
    height: auto;
    display: block;
    margin: 0 auto; 
}


